MONGO_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
DB_NAME=placement_db
JWT_SECRET=change_this_to_a_long_random_secret_string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
